/**************************** 

DEFAULT CSS DEFINE

****************************/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    margin-bottom: 4.375rem;
}

/**************************** 

SLIDER SECTION CSS

****************************/
.carousel_main {
    background-color: #fceae8;
    border-radius: 1rem;
    margin-top: 30px
}

.carousel_main img {
    border-radius: 1rem;
}

.carousel_content {
    padding: 1.25rem 2.5rem;
}

.carousel_content .price {
    color: #ff136f;
    margin-bottom: 1.9375rem;
}

.buy_now_button {
    border: none;
    background: linear-gradient(#ff136f, #de00ad);
    padding: .525rem 0.9375rem;
    border-radius: .3125rem;
    color: #ffffff;
    font-weight: bold;
}

.buy_now_button:hover {
    
}

.carousel-control-prev {
    width: 100px;
    height: 30px;
    top: 50%;
}

.carousel-control-next {
    width: 100px;
    height: 30px;
    top: 50%;
}

/**************************** 

CATEGORIES SECTION CSS

****************************/

.cat_1, .cat_2, .cat_3 {
    padding: 0.625rem 1.875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.cat_width {
    width: 27.5rem;
}

.cat_1 {
    background: linear-gradient(#ffb900, #94782d);
}

.cat_2 {
    background: linear-gradient(#ff136f, #a0174c);
}

.cat_3 {
    background: linear-gradient(#001fff, #0015aa);
}

.categories h1 {
    color: #ffffff;
}

.cat_width img {
    width: 6.25rem;
}

/**************************** 

SHOES SECTION CSS

****************************/


.card h5 {
    margin-bottom: 15px;
}

.card_1, .card_2, .card_3 {
    border: none;
    box-shadow: 10px 1px 20px 0px lightgrey;
    transition: .3s ease-in-out;
}

.card_1:hover {
    box-shadow:  10px 1px 20px 10px lightgrey;
}

.card_2:hover {
    box-shadow:  10px 1px 20px 10px lightgrey;
}

.card_3:hover {
    box-shadow:  10px 1px 20px 10px lightgrey;
}

/**************************** 

Backpack SECTION CSS

****************************/

.card-footer .buy_now_button {
    font-size: 17px;
    padding: 10px 14px
}

/**************************** 

CONTACT SECTION CSS

****************************/

#subscribe {
    height: 350px;
    border-radius: 10px;
}

#subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7afcb;
}

.form-control {
    margin-bottom: 1.5rem;
}

/**************************** 

SHOES SECTION CSS

****************************/

footer {
    text-align: center;
}

.categories .row {
    height: 300px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .categories .row {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 400px;  
     }

     .categories .row .cat_width {
         width: 100%;
     }
}